<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiWCcky9Ldld0eEdyHPXI7rzh-rcjUrlk</string>
	<key>GCM_SENDER_ID</key>
	<string>638698943649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todo.app.todoapp</string>
	<key>PROJECT_ID</key>
	<string>backend-todo-app-5b612</string>
	<key>STORAGE_BUCKET</key>
	<string>backend-todo-app-5b612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638698943649:ios:34d4bd79a1ead2b004ace0</string>
</dict>
</plist>